@font-face {
  font-family: "Poppins Regular";
  font-weight: 400;
  font-style: normal;
  src: url("/Poppinsregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Medium";
  font-weight: 500;
  font-style: normal;
  src: url("/Poppinspoppins-semiboldmedium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Impact";
  font-weight: 400;
  font-style: normal;
  src: url("/Impact.woff") format("woff");
  font-display: swap;
}

body {
  font-family: "Poppins Regular", Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.1;
  color: #5D5B5B;
  background: white;
  margin: 0;
}
img {
  display: block;
  width: 100%;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Poppins Medium", "Poppins Regular", Arial, Helvetica, sans-serif;
}
p{
  line-height: 1.5em;
}
a {
  color: #5D5B5B;
}
.page{
  padding: 100px 0 50px;
}
.anchor{
  position: relative;
  top: -90px;
}
a:hover{
  color: #EF5402;
}
a:focus, button:focus{
	outline: none;
}
.btn-custom{
  display: block;
  width: 180px;
  padding: 12px 0px;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(156, 123, 105, 0.3);
  text-align: center;
  text-transform: uppercase;
  color: white;
  background: #EF5402;
}
.btn-custom:hover{
  text-decoration: none;
  color: white;
}
.btn-custom-light,.btn-custom-light:hover{
  background: transparent;
  border: 1px solid #D4D2D2 ;
  color: #EF5402;
  box-shadow: none;
}

.section-header{
  background: url("/orange-square.jpg") no-repeat;
  background-position: right center;
  padding: 15px 0;
  border-bottom: 2px solid #EF5402;
}
.title{
  color: #2D2D2D;
  font-size: 34px;
  line-height: 1.2em;
}
.subtitle{
  color: #2D2D2D;
  font-size: 24px;
  line-height: 1em;
}
.read-more{
  display: flex;
  align-items: center;
  padding-left: 35px;
  background: url("/orange-square.jpg") no-repeat left center;
  color: #EF5402;
  text-transform: uppercase;
}

@media (max-width: 1240px){
  .anchor{
    top: -70px;
  }
  .page{
    padding-top: 80px;
  }
  .title{
    font-size: 28px;
  }
  .subtitle{
    font-size: 20px;
  }
}
@media (max-width: 576px){
  .title{
    font-size: 24px;
  }
}
/* .wrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 5vmin 0;
} */

/**
 * article grid
 */
/* .article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}


.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

  .list-inline li {
    display: inline-block;
  }  */
